openapi: 3.0.0
info:
  title: Recipe.Report API
  description: The official Recipe.Report API documentation.
  version: 0.1.0
servers:
  - url: https://api.recipe.report/
    description: Production API server
paths:
  /:
    get:
      summary: Curtsy.
      description: Say hello to the Recipe.Report API server. If alive, it will respond with a welcome message, documentation link, and your request headers.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Welcome to the Recipe.Report API server. This is the root route. For documentation please go to https://nothingworksright.github.io/api.recipe.report/'
                      request_headers:
                        type: object
  /user/register:
    post:
      summary: Register a new user.
      description: Create a new user account by registering a new user in the Recipe.Report system.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                email_address:
                  type: string
      responses:
        '200':
          description: Registered
          content:
            application/json:
              schema: 
                type: object
                properties:
                  status:
                    type: string
                    example: success
        '500':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Error registering user: Username is already in use.'
                  code:
                    type: string
                    example: 500
  /user/activate/{token}:
    get:
      summary: Activate a new user.
      description: After a new user has been created, an activation link is emailed to the user. Following the activation link will activate the new user record. Once activated, a new user may sign in.
      parameters:
        - name: token
          in: path
          required: true
          description: Activation token provided in the activation email.
          schema:
            type: string
            format: token
      responses:
        '200':
          description: Activated
        '500':
          description: Error
